/* ROOT */

:root {
    --white: #f4f6f6;
    --black: #010111;
    --primary: var(--black);
    --bg: var(--white);
    --accent: #37C32B;
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary: var(--white);
        --bg: var(--black);
    }
}

*,
::after,
::before {
    box-sizing: border-box;
}

html {
    background-color: var(--bg);
    font-family: "Josefin Sans", sans-serif;
    color: var(--primary);
}

/* UTILITY CLASSES, ATOMS...*/

figure,
body {
    margin: 0;
}

.container {
    max-width: 120rem;
    margin: 0 clamp(1rem, 8vw, 4rem);
}

p {
    max-width: 40rem;
}

a:focus-visible,
button:focus-visible {
    outline: dotted var(--primary);
}

.visualyHidden:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}


/* header */

header {
    padding: 2rem 0.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
nav {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}
nav ul {
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
}
